@import "../../globals.scss";

$spacer-height: 20rem;

.bio {
    margin-top: -8.2rem;
    background-image: url('/project-images/bio.jpg');
    background-position-y: bottom;
    background-position-x: left;
    background-size: cover;
    position: relative;

    @include small-screen {
        background-position-x: center;
    }

    &__content-wrapper {
        @include section-styling;
        max-width: 150rem;
        padding: 0 10rem 0;

        @include small-screen {
            padding: 0;
        }
    }

    &__heading {
        font-size: $font-size-h1;
        padding-bottom: 2rem;
        text-align: center;
    }

    &__flex {
        display: flex;
        justify-content: flex-end;
    }

    &__image-wrapper {
        padding-right: 4rem;

        @include small-screen {
            display: none;
        }
    }

    &__image {
        width: 100%;
    }

    &__copy-wrapper {
        width: 45rem;
        margin-top: -2rem;
        padding: 4rem 4rem calc(4rem + #{$spacer-height});
        color: white;
        background-color: rgba(10, 10, 10, 0.6);
        text-align: justify;

        @include small-screen {
            width: 100%;
            margin-top: 0;
            padding-bottom: $spacer-height;
        }

        p {
            font-size: $font-size-h5;
            padding-bottom: 2rem;

            @include small-screen {
                font-size: $font-size-h6;
            }
        }

        a {
            color: white;
            @include transition(color 0.12s);
            text-decoration-thickness: 1px;

            &:focus,
            &:hover {
                outline: none;
                color: $secondary-lighter;
            }
        }
    }

    &__spacer {
        width: 100%;
        height: $spacer-height;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        background-image: url('/project-images/layered-waves-haikei.svg');
        z-index: 3;
        position: absolute;
        bottom: 0;
    }
}
