@import "../../globals.scss";

.landing {
  @include section-styling;
  padding: 0 2rem;

  &__title-wrapper {
    padding: 45rem 0 4rem;
    text-align: right;

    @include small-screen {
      padding-top: 35rem;
      min-height: 10.5rem;
    }
  }

  &__slide-in {
    transform: $initial-offscreen-position;
    @include animation("slideInFromRight .5s forwards");
  }
  
  &__heading {
    font-size: $font-size-h2;
    animation-delay: 1s;
  }

  &__subheading {
    font-size: $font-size-h4;
    animation-delay: 2s;

    @include small-screen {
      max-width: 32.5rem;
      margin: 0 0 0 auto;
    }
  }

  &__fade-in {
    max-width: 37rem;
    margin: 0 0 0 auto;
    opacity: 0;

    @include animation("fadeIn 0.5s forwards");
    animation-delay: 3s;
  }
}
