@import "../../globals.scss";

.card {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    @include transition(all 0.3s linear);
    background-color: $secondary-background-color;
    padding: 1.5rem;
    text-align: left;
    margin: 0 auto;
    border-radius: 20px;

    @media (max-width: 600px) {
        min-width: 37vw;
        height: 420px;
    }
    @media (min-width: 600px) {
        min-width: 45vw;
        height: 425px;
    }
    @media (min-width: 992px) {
        min-width: 25vw;
        height: 425px;
    }

    &__flex-column-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__heading {
        font-size: $font-size-h4;
        padding-bottom: 1rem;
    }

    &__title-wrapper {
        @media (max-width: 600px) {
            flex-grow: 2;
        }
    }

    &__image-wrapper {
        display: block;
        text-align: center;
    }

    &__image {
        max-width: 100%;
        @media (max-width: 600px) {
            max-height: 35vw;
        }
        @media (min-width: 600px) {
            max-height: 17vw;
        }
        @media (min-width: 992px) {
            max-height: 11vw;
        }
    }

    &__description {
        padding: 1rem 0;
    }

    &__technologies,
    &__links {
        display: flex;
        flex-wrap: wrap;
    }

    &__technologies {
        flex-grow: 2;
        justify-content: space-around;

        @media (max-width: 600px) {
            display: none;
        }
    }

    &__tech-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__links {
        justify-content: center;
        padding-top: 1rem;

        @media (max-width: 600px) {
            justify-content: space-around;
        }
    }

    &__link-wrapper {
        width: 25%;
        text-align: center;
    }

    &__link {
        .fa {
            font-size: 4rem;

            @include small-screen {
                font-size: 3rem;
            }
        }
    }
}
