@import "../../globals.scss";

$heading-offset: 4rem;

.portfolio-divider-top {
    margin-top: -12rem;
    transform: rotate(180deg);

    @include small-screen {
        margin-top: -6rem;
    }
}

.portfolio-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12rem;
    z-index: 1;
    @include small-screen {
        height: 3rem;
        bottom: 1px;
    }
}

.portfolio-divider-top .shape-fill {
    fill: #FFFFFF;
}


.portfolio-carousel {
    padding: 2rem;
    z-index: 2;
    position: relative;
    background-color: white;

    &__heading {
        font-size: $font-size-h1;
        outline: none;
        margin-top: calc(-1 * #{$heading-offset});
        margin-left: 4vw;
        z-index: 2;
        position: relative;
        color: $primary-color;

        @include small-screen {
            margin-left: -1rem;
            margin-top: -2rem;
        }
    }

    &__button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
    }

    $button-inner-padding: 2rem;

    @include small-screen {
        $button-inner-padding: 0rem;
    }

    &__left {
        padding-right: $button-inner-padding;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.94) 75%,
            rgba(255, 255, 255, 0.01) 100%
        );
    }

    &__right {
        padding-left: $button-inner-padding;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.01) 0%,
            rgba(255, 255, 255, 0.94) 25%,
            rgb(255, 255, 255) 100%
        );
    }

    &__button {
        padding: 0;
        i {
            font-size: 5rem;
            color: $primary-color;
            @include transition(color 0.18s);

            &:hover {
                color: $primary-lighter;
            }

            @include small-screen {
                font-size: 2rem;
            }
        }
    }

    &__flex {
        padding: 2rem 0;
        display: flex;
        overflow-x: hidden;
    }

    &__slider-wrapper {
        flex-grow: 2;
        padding: 4rem 0;
        @include small-screen {
            margin-top: 2rem;
        }
    }
}

/* #region cards slider */
.cards-slider-wrapper {
    display: flex;
    position: absolute;
    // transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    .card {
        flex: 1;
        opacity: 0.5;
        transform: scale(0.7);
        // transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}

$i: 0;
@for $i from 0 through 10 {
    .cards-slider.active-slide-#{$i} #card-#{$i} {
        opacity: 1;
        transform: scale(1);
    }
}

.cards-slider {
    position: relative;
    max-width: 25vw;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .cards-slider {
        max-width: 45vw;
        height: 400px;
    }
}
@media (min-width: 600px) {
    .cards-slider {
        max-width: 45vw;
        height: 450px;
    }
}
@media (min-width: 992px) {
    .cards-slider {
        max-width: 25vw;
        height: 450px;
    }
}
/* #endregion */

.portfolio-divider-bottom {
    width: 100%;
    overflow: hidden;
    z-index: 2;
    position: relative;
}

.portfolio-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 8.2rem;

    @include small-screen {
        height: 4rem;
        margin-bottom: 2rem;
    }
}

.portfolio-divider-bottom .shape-fill {
    fill: white;
}
