@import "../../globals.scss";

.footer {
    text-align: center;
    padding: 1rem 1rem 2rem;
    color: white;
    position: relative;
    z-index: 2;

    &__text {
        margin: 0.5rem auto;
    }

    &__disclaimer {
        font-size: 10px;
    }
}