@import "../../globals.scss";

.tech {
    text-align: center;

    &:not(.tech-small) {
        a {
            outline-style: none;
            text-decoration: none;
            color: black;

            @include small-screen {
                color: $primary-color;
            }
        }
    }

    &__title {
        display: none;
        padding: 0.5rem 1rem;
        font-weight: 300;
    }

    &__image-wrapper {
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        background-color: white;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image {
        width: 100%;
    }
}

.tech-normal__image {
    width: $tech-size;
    height: $tech-size;
}

.tech-small__image {
    object-fit: cover;
    border: 1px solid #ccc;
    @media (max-width: 992px) {
        width: 7vw;
        height: 7vw;
    }
    @media (min-width: 992px) {
        width: 50px;
        height: 50px;
    }
}
