@import "../../globals.scss";

.navbar {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: $primary-lightest;
  z-index: 2;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    @include section-styling;
  }

  &__home:focus {
    .navbar__logo {
      @include scale(1.2);
    }
  }

  &__logo {
    max-height: 4rem;
    @include transition(transform 0.3s);

    &:hover {
      @include scale(1.2);
    }
  }

  &__heading {
    padding: 0;
    margin: 0;
  }

  &__links {
    display: flex;
    align-items: baseline;
  }

  &__link {
    padding: 0.5rem 0;
    margin-left: 3rem;
    font-size: $font-size-h5;
    font-family: $heading-font;
    text-decoration: none;
    @include transition(color 0.3s);

    &:focus,
    &:hover {
      color: $link-hover-color;
    }
  }

  .icon {
    color: black;
    display: none;
    padding: 2rem 2rem 1rem;
  }

  @include small-screen {
    padding: 1rem 2rem;

    &__heading {
      font-size: $font-size-small;
    }

    &__links {
      flex-direction: column;
      text-align: right;
    }

    &__link {
      background-color: $secondary-background-color;
      margin: 0 -2rem 0 0;
      padding: 1rem;
      font-size: $font-size-small;

      &.closed {
        opacity: 0%;
        display: none;
      }

      &.open {
        @include animation("fadeInFromNone .2s");
      }
    }

    .icon {
      display: block;
      font-size: 1.5rem;
      padding: 0;
      text-align: right;
    }
  }
}
