$content-width: 120rem;

$tech-size: 130px;

$font-size-h1: 6rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2.5rem;
$font-size-h5: 2rem;
$font-size-h6: 1.7rem;
$font-size-large: 1.5rem;
$font-size-normal: 1.3rem;
$font-size-small: 1.1rem;

$primary-color: #092d8e;
$primary-darkest: #141e3d;
$primary-darker: #041a55;
$primary-lighter: #5985ff;
$primary-lightest: #deecff;

$secondary-color: #C44F21;
$secondary-darker: #a33910;
$secondary-lighter: #cf6a42;
$secondary-lightest: #f8bca5;
$tertiary-lightest: #ffd9a8;
$off-white: #fffdf9;

$secondary-background-color: $primary-lightest;
$link-color: $primary-color;
$link-hover-color: $primary-lighter;

$sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
$secondary-font: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

$initial-offscreen-position: translateX(100rem);

@mixin small-screen {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @content;
    }
}

// Cross-browser animation mixins from https://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin animation($animate...) {
    $max: length($animate);
    $animations: "";

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin scale($factor) {
    -webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
    transform: scale($factor);
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin section-styling {
    max-width: $content-width;
    margin: 0 auto;
}

@mixin link-button-styling {
    display: block;
    padding: 2rem;
    font-size: $font-size-h4;
    text-align: center;
    text-decoration: none;
    color: $link-color;
    border: 0.2rem solid $link-color;
    border-radius: 1rem;
    @include transition(all 0.2s);

    &:focus,
    &:hover {
        color: white;
        background-color: $link-color;
    }
}

@include keyframes(fadeInFromNone) {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@include keyframes(slideInFromRight) {
    from {
        transform: $initial-offscreen-position;
    }
    to {
        transform: translateY(0);
    }
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@include keyframes(backgroundColorLoop) {
    0% {
        background-color: $primary-lightest;
    }
    28% {
        background-color: $primary-lightest;
    }
    33% {
        background-color: $tertiary-lightest;
    }
    61% {
        background-color: $tertiary-lightest;
    }
    66% {
        background-color: $secondary-lightest;
    }
    94% {
        background-color: $secondary-lightest;
    }
    100% {
        background-color: $primary-lightest;
    }
}

@mixin background-animation {
    @include animation("backgroundColorLoop 12s infinite");
}
