@import "../../globals.scss";

.contact-buttons {
    $color: $link-color;
    $hover-color: $link-hover-color;
    $diameter: 5rem;

    &__flex-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    }

    &__button {
        outline: none;
        text-decoration: none;

        &:focus,
        &:hover {
            .contact-buttons__button-wrapper {
                color: $hover-color;
                border-color: $hover-color;
                @include scale(1.1);
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: $color;
            border: 0.3rem solid $color;
            border-radius: 50%;
            padding: 1.5rem;
            width: $diameter;
            height: $diameter;
            @include transition(all 0.2s);

            i {
                font-size: 6rem;
                &.fa-envelope {
                    font-size: 4.5rem;
                }
            }
        }
    }

    &.dark {
        .contact-buttons__button {
            &:focus,
            &:hover {
                .contact-buttons__button-wrapper {
                    color: $primary-lighter;
                    border-color: $primary-lighter;
                }
            }
            &-wrapper {
                color: $off-white;
                border-color: $off-white;
            }
        }
    }
}
